{:source-paths ["src" "test"]
 :dependencies []
 :builds
 {:lib
  {:target    :browser
   :output-dir "target/cljs"
   :modules   {:main {:entries [hiccup-templating.core]}}}
  :test
  {:target    :node-test
   :output-to "target/cljs-test/tests.js"
   :ns-regexp "hiccup-templating\\.unittests"}}}

